{% extends "UM2CoreBundle::layout.html.twig" %}
{% block body %}
<br>
<div class="row">
<h2>{{ user.username|capitalize }}</h2>
<p> Ville : {{ user.ville|capitalize}}
<p> Point : {{ user.cagnote}}
<br>
{% if app.user is not null %}
	{% if user.id == app.user.id %}
		<a href="{{ path('um2_user_edit', { 'id' : user.id }) }}" class="btn btn-default">Editer</a>
	{% endif %}
	<br>
	{% if is_granted('ROLE_ADMIN') %}
		{% if user.estActive %}
			<a href="{{ path('um2_user_deactivate', { 'id' : user.id }) }}" class="btn btn-default">Désactiver</a>
		{% else %}
			<a href="{{ path('um2_user_activate', { 'id' : user.id }) }}" class="btn btn-default">Activer</a>
		{% endif %}
	{% endif %}
{% endif %}
</div>
{% if user.estTropConsomme %}
	<div class="alert alert-danger">
		<p> Vous avez trop consommé </p>
	</div>
{% endif %}

{% endblock body %}